[Unit]
Description=PatchOS controller

[Service]
Type=simple
ExecStart=/usr/bin/patchd
StateDirectory=patchd
RuntimeDirectory=patchd
Restart=on-failure
RestartSec=2s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
